body {
  margin: 0;
  line-height: 0%;
  background-image: url('../img/green-grass.jpg');
}

img {
  position: fixed;
  top: 0px;
  left: 0px;
  vertical-align: top;
  width: 100vw;
  overflow: visible;

  -webkit-transition: width 2s, left 2s, top 2s;
  transition: width 2s, left 2s, top 2s;
}
